@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
    box-sizing: border-box;
}
:root {
    --stroke-color-light-mode: rgba(0, 0, 0, 0.50);
    --surface-color-light-mode: rgba(0, 0, 0, 0.05);
    --text-color-light-mode: #000;
    --surface-color-light-mode-hover: rgba(0, 0, 0, 0.02);
    --border-gradient: linear-gradient(to right, #996DFF, #FF876E, #FFB671);
    --fonte: 'Inter', sans-serif;


    --preto: #000;
}
body {
    background: url('./assets/backgrounds/bg-lightmode-y.gif') no-repeat top center/cover;
    

    #main {
        height: 712px;
        width: 360px;
        border: 1px solid red;
        margin: auto;
        padding: 56px 24px 0px;

        .profile {
            #pic {
                border-radius: 50%;
                width: 112px;
                height: 112px;
            }
            p {
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
                margin: 8px 0px 0px 0px;
            }
        }

        .links {
            padding: 24px;
            
            button {
                margin: 10px;
                border-radius: 8px !important;
                border: 1px solid rgba(0, 0, 0, 0.286);
                background: var(--surface-color-light-mode, rgba(0, 0, 0, 0.05)) !important;
                backdrop-filter: blur(4px);

                &:hover {
                    border: 1.5px solid var(--text-color-light-mode, #000) !important;
                    background-color: var(--surface-color-light-mode-hover, rgba(0, 0, 0, 0.02)) !important ;
                    backdrop-filter: blur(9px);
                    transition: background 0.3s;
                }

                a {
                    color: var(--text-color-light-mode, #000);
                    text-decoration: none;
                    font-family: 500;

                    &:hover {
                        color: var(--preto);
                        backdrop-filter: blur(4px) !important;
                        
                    }
                }
            }
        }
        #ft {
            font-size: 14px;
            text-align: center;
        }
        
    }
    
}